cython
jnius
num2words
psutil
trans
unidecode
boto3
boto
pypinyin
rippletagger
pymorphy2
nltk
lxml
googletrans
ijson
numpy==1.9.2
pandas==0.16.0
html5lib
Django==1.11.21
django-background-tasks==1.2.0
django-compat==1.0.15
djangorestframework==3.9.4
freeze
futures
iso-639
mongoengine
Morfessor
polyglot
pycld2
Pygments
PyICU
pymongo
pytz
six
pattern==3.6
requests
pyinstrument
beautifulsoup4
urllib3
unicode
geopy